/* Positioning */

.bp-position-bottom {
  position: absolute;
  bottom: 5px;
}

.bp-margin-none {
  margin: 0;
}

.bp-margin-left {
  margin-left: 50px;
}

.bp-margin-left-xs {
  margin-left: 10px;
}

.bp-margin-left--lg {
  margin-left: 15px;
}

.bp-margin-right {
  margin-right: 50px;
}

.bp-margin-right-xs {
  margin-right: 10px;
}

.bp-margin-bottom--xs {
  margin-bottom: 5px;
}

.bp-margin-bottom--sm {
  margin-bottom: 10px;
}

.bp-margin-bottom {
  margin-bottom: 15px;
}

.bp-margin-bottom--lg {
  margin-bottom: 20px;
}

.bp-margin-top {
  margin-top: 15px;
}

.bp-margin-top--xs {
  margin-top: 5px;
}

.bp-margin-top--sm {
  margin-top: 10px
}

.bp-margin-top--lg {
  margin-top: 25px;
}

.bp-padding-small {
  padding: 5px 5px;
}

.bp-padding-large {
  padding: 15px 15px;
}


.bp-padding-none{
  padding: 0;
}

.bp-padding-bottom {
  bottom: 15px;
}

.bp-center{
  text-align: center;
}

.bp-pull-right{
  float: right;
}

.bp-pull-left{
  float: left;
}

.bp-clear-right{
  clear: right;
}

.bp-clear-left{
  clear: left;
}

.bp-font-size-lg{
  font-size: 24pt;
}

.bp-background-black{
  background-color: black;
}

.bp-background-dark-grey{
  background-color: $dark-grey;
}

.bp-background-dark-blue{
  background-color: $dark-blue;
}


.bp-background-light-grey {
  background-color: $lightest-grey;
}

.bp-vertical-center{
  vertical-align: middle;
}

.full-width {
  width: 100%;
}

.bp-right {
  text-align: right;
}

.bp-left {
  text-align: left;
}

.center-m {
  @include breakpoint(mobileonly){
    text-align: center;
  }
}

.left-t {
  @include breakpoint(tablet){
    text-align: left;
  }
}

.right-t {
  @include breakpoint(tablet) {
    text-align: right;
  }
}

.pull-left--t {
    @include breakpoint(tablet) {
      text-align: left;
    }
  }

.bp-border-radius-none {
  border-radius: 0;
}

.bp-capitalize {
  text-transform: capitalize;
}

.bp-inline-block {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
}

.bp-inline-block--without-margin {
  display: inline-block;
}

.bp-orange {
  color: $primary-colour;
}

.bp-dark-grey {
  color: $dark-grey;
}

.bp-grey {
  color: $grey;
}

.bp-light-grey {
  color: $light-grey;
}

.bp-green {
  color: $green;
}

.bp-red {
  color: $colour-error;
}

.bp-yellow {
  color: $yellow;
}

.bp-dark-yellow {
  color: $yellow;
}

.bp-light-green {
  color: $light-green;
}

.bp-white {
  color: white;
}

hr.light-grey{
  border-top: 1px solid $light-grey;
}

.bp-flex {
  display: flex;
}

.bp-equal-height{
  height: 100%;
}