.bp-text {
  font-family: $primary-font;
  font-size: 14px;
  color: $dark-grey;

  &.bp-text--slim {
    font-weight: 300;
  }

  &.bp-text--xs{
    font-size: 10px;
  }

  &.bp-text--sm{
    font-size: 12px;
  }

  &.bp-text--lg {
    font-size: 16px;
  }

  &.bp-text--xl {
    font-size: 18px;
  }

  &.bp-text--grey {
    color: $grey;
  }

  &.bp-text--dark-grey {
    color: $dark-grey;
  }

  &.bp-text--light-grey {
    color: $light-grey;
  }
}

.bp-bold {
  font-weight: 700;
}

.bp-title {
  font-family: $primary-font;
  font-size: 42px;
  font-weight: 700;
  color: $primary-colour;
  margin-top: 36px;

  @include breakpoint(tablet) {
    margin-top: 48px;
    font-size: 64px;
  }
}

.bp-heading {
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 700;
  color: $dark-grey;
  margin-bottom: 36px;
  margin-top: 0;

  @include breakpoint(tablet) {
    font-size: 48px;
  }
}

.bp-profile-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: $green;

  @include breakpoint(tablet) {
    font-size: 36px;
  }
}

.bp-overflow-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bp-link-default {
  color: $grey;

  &:hover {
    text-decoration: none;
  }
}

.bp-list-item {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

a:focus {
  text-decoration: none;
}